
body{
    margin: 0;
    font-family: sans-serif;
    background: aliceblue;


}

h3{
    text-align: center;
    font-size: 25px;
    margin: 0;
    padding-top: 10px;

}

a{
    text-decoration: none;

}

.produktet{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 50px 0;

}

.permbajtja{
    width: 20%;
    margin: 15px;
    box-sizing: border-box;
    float: left;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    padding-top: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
    transition: .4s;
    background: #ffffff;
    height: auto;
}

.permbajtja:hover{
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.7);
    transform: translate(0px, -8px);
}

img{
    width: 200px;
    height: 200px;
    text-align: center;
    margin: 0 auto;
    display: block;

}

p{
    text-align: center;
    color: gray;
    padding-top: 0 8px;

}

h6 {
    font-size: 26px;
    text-align: center;
    color: rgb(7, 7, 84);
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0;
}

li{
    padding: 5px;

}

button{
    text-align: center;
    font-size: 20px;
    color: white;
    background-color: navy;
    width: 200px;
    padding: 14px;
    border: none;
    cursor: pointer;
    margin-top: 5px;
    border-radius: 20px;
    margin-bottom: 30px;
}

button:hover{
    background: rgb(9, 9, 182);
    transition: 0.5s;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.6);

}


@media (max-width:1000px) {
    .permbajtja{
        width: 45%;

    }

  
}

@media (max-width:750px){
    .permbajtja{
        width: 100%;
        
    }
    

}

nav {
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #0404bc;
    color: white;
    position: relative;
    height: 70px;
    
}

nav ul {
    display: flex;
    gap: 8px;
    align-items: center;
}

nav ul li {
    list-style-type: none;

}


nav ul li a{
    text-decoration: none;
    color: white;
}
.menuIcon{
    display: none;
}
.menuIcon i{
    font-size: 30px;
}

@media(max-width:600px){
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        right: 0;
        flex-direction: column;
        text-align: center;
        background: #02027c;
        overflow: hidden;
    }
    nav ul li{
        padding: 10px;

    }
    
    .menuIcon{
        display: block;
        cursor: pointer;
    }
    nav ul li:hover{
        background: #020255;
        width: 100%;
       
    }


    
}



#listaemenus{
    transition: all 0.5s;
}

/*rregullimi i pjeses per futerin*/

footer{
    background-color: #020255;
    position: relative;
    min-height: 350px;
    padding: 3rem 1rem;

}

.container{
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.row
{
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.col{
    min-width: 250px;
    color: #ffffff;
    font-family: popins;
    padding: 0 2rem;
}

.col .logoCompanis
{
width: 100px;
margin-bottom: 25px;


}

.col h3{
    color: #00ff04;
    margin-bottom: 20px;
    position: relative;
    cursor: pointer;

}

.col h3::after{
 content: '';
    height: 3px;
    width: 50px;
    background-color: #00ff04;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;

}

.col h3 :hover::after{
    width: 30px;

}

.col .socialnet a i {
    color: aliceblue;
    margin-top: 2rem;
    margin-right: 5px;
    transition: 0.3s ease;
}

.col .socialnet a i :hover{
    transform: scale(1.5);
    filter: grayscale(25);

}

.col .link a{
    display: block;
    text-decoration: none;
    color: #ffffff;
    margin-bottom: 5px;
    position: relative;
    transition: 0.3s ease;
}

.col .link a::before{
    content: '';
    height: 16px;
    width: 3px;
    position: absolute;
    top: 5px;
    left: -10px;
    background-color: #00ff04;
    transition: 0.3s ease;
    opacity: 0;
}
.col .link a:hover ::before{
opacity: 1;

}

.col .link a:hover{
    transform: translateX(-5px);
    color: #00ff04;

}

@media(max-width:900px){
    .row{
        flex-direction: column;
    }
    .col{
        width: 100%;
        text-align: left;
        margin-bottom: 25px;

    }
}
@media(max-width:768px){
    .row{
        flex-direction: column;
    }
    .col{
        width: 100%;
        text-align: left;
        margin-bottom: 20px;
        
    }
}