body {
    font-family: Arial, sans-serif;
    background-color: #1d4552;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#formulari {
    background-color: #435e4e;
    padding: 50px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

#formulari h3 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #ffffff;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

input[type="text"],
input[type="file"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    background-color: #e6f7ff; 
    color: #333;
    box-sizing: border-box; 
}

input[type="text"]:focus,
textarea:focus {
    background-color: #cceeff; 
    border-color: #007bff;
    outline: none;
}

textarea {
    resize: none;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #1e3f62;
}

#back {
    background-color: #12161b;
    margin-bottom: 10px;
}

#back:hover {
    background-color: #010101;
}

a {
    text-decoration: none;
}

a button {
    width: 100%;
}

input.error::placeholder{
    color: red;

}

input.error{
    border:1px solid red;
}
